<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h1>{{title}}</h1>
  <h3>Artist</h3>
  <hr />


  <form [formGroup]="artistForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

    <div class="form-group row">
      <label class=" control-label col-md-12">Artist Name</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="artistName">
      </div>
      <span class="text-danger" *ngIf="artistName.invalid && formDir.submitted">
        Artist Name is required.
      </span>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="CareerBeginDate">Career Begin Date</label>
      <div class="col-md-4">
        <select class="form-control" data-val="true" formControlName="careerBeginDate">
          <option value="">-- Select Gender --</option>
          <option value="01/01/2001">01/01/2001</option>
          <option value="05/18/1994">05/18/1994</option>
        </select>
      </div>
      <span class="text-danger" *ngIf="careerBeginDate.invalid && formDir.submitted">
        Career Begin Date is required
      </span>
    </div>
    <div class="form-group row">
      <label class="control-label col-md-12" for="Department">Department</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="department">
      </div>
      <span class="text-danger" *ngIf="department.invalid && formDir.submitted">
        Department is required
      </span>
    </div>
    <!--<div class="form-group row">
      <label class="control-label col-md-12" for="City">City</label>
      <div class="col-md-4">
        <select class="form-control" data-val="true" formControlName="city">
          <option value="">--Select City--</option>
          <option *ngFor="let city of cityList"
                  value={{city.cityName}}>
            {{city.cityName}}
          </option>
        </select>
      </div>
      <span class="text-danger" *ngIf="city.invalid && formDir.submitted">
        City is required
      </span>
    </div>-->
    <div class="form-group">
      <button type="submit" class="btn btn-default">Save</button>
      <button class="btn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</body>
</html>
