<mat-card>
  <img
    mat-card-image
    [src]="artist.mainPhotoURL || 'assets/fallbackUser.png'"
    alt="{{ artist.name }}"
  />
  <mat-card-content>
    <p>
      super brief description, possibly stored in db
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      <strong>Group:</strong>
      {{ artist.artistGroup }}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      <strong>Status:</strong>
      {{ artist.statusId }}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      <strong>Years Active:</strong>
      {{ artist.yearsActive }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="!edit">
    <button
      mat-raised-button
      color="primary"
      *ngIf="!followArtist"
      (click)="follow()"
    >
      FOLLOW
    </button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
