<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div class="ss-header">
    <a mat-button color="accent" [routerLink]="['/home']">
      <span class="SS-text">Scene Swarm</span>
    </a>
    <span fxFlex></span>
    <div fxShow="true" fxShow.lt-md="false" *ngIf="loggedIn()">
      <div class="wantPointer" [matMenuTriggerFor]="userMenu">
        {{ decodedToken.unique_name | titlecase }}
      </div>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <button
          mat-menu-item
          *appHasRole="['Admin', 'Moderator']"
          [routerLink]="['/admin']"
        >
          Admin
        </button>
        <button mat-menu-item><i class="fa fa-user"></i>Profile</button>
        <button mat-menu-item (click)="logout()">
          <i class="fa fa-sign-out"></i>Logout
        </button>
      </mat-menu>
    </div>

    <span fxFlex></span>
    <div>
      <div>
        <div fxHide fxShow.sm="true" *ngIf="loggedIn()">
          {{ decodedToken.unique_name | titlecase }}
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxHide fxShow.sm="true" *ngIf="!loggedIn()">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxHide fxShow.xs="true">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLinkActive="mat-accent" [routerLink]="['/artist']">
        Artists
      </a>
      <a mat-button routerLinkActive="mat-accent" [routerLink]="['/venue']">
        Venues
      </a>
      <a mat-button routerLinkActive="mat-accent" [routerLink]="['/event']">
        Events
      </a>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav
    color="primary"
    #sidenav
    fxLayout="column"
    mode="over"
    opened="false"
    fxHide.gt-sm="true"
    position="end"
    (click)="sidenav.toggle()"
  >
    <div fxLayout="column">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/artist']">Artists</a>
        <a mat-list-item [routerLink]="['/venue']">Venues</a>
        <a mat-list-item [routerLink]="['/event']">Events</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="loggedIn()">
        <mat-list-item
          *appHasRole="['Admin', 'Moderator']"
          routerLinkActive="active"
          [routerLink]="['/admin']"
        >
          Admin
        </mat-list-item>
        <mat-list-item><i class="fa fa-user"></i>Profile </mat-list-item>
        <mat-list-item (click)="logout()">
          <i class="fa fa-sign-out"></i>Logout
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="allPagesWidth">
      <router-outlet></router-outlet>

      <mat-toolbar color="accent">
        <mat-toolbar-row class="fText ss-footer">
          This site is under development. Feel free to click around. Data is
          reset and does not persist for too long. Database is cleared every so
          often. Use bogus email to register/login. Passwords are hashed in the
          database. -Zach
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
