.SS {
  font-size: 50px;
  margin: auto;
  padding: auto;
}

.fText {
  font-size: 12px;
}

mat-toolbar-row {
  white-space: inherit;
}

.wantPointer {
  cursor: pointer;
}

.allPageWidth {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
