mat-toolbar-row {
  white-space: inherit;
}

.ss-header {
  width: 80%;
  margin: auto;
}

.SS-text {
  font-size: calc(20px + 1.5vw);
}

.fText {
  font-size: 12px;
}

.wantPointer {
  cursor: pointer;
}

.allPagesWidth {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
