.artistList {
  font-size: 48px;
}

table {
  width: 100%;
  /* text-align: left; */
}

.mat-row:nth-child(even) {
  background-color: darkgrey;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.artistImg {
  height: 50px;
  margin: auto;
}

/* .add-button {
  float: right;
} */
