<h1 mat-dialog-title>Edit Roles for user: {{ user.userName }}</h1>
<div mat-dialog-content>
  <div *ngFor="let role of roles">
    <mat-checkbox
      value="{{ role.name }}"
      [checked]="role.checked"
      (change)="role.checked = !role.checked"
      [disabled]="
        role.name === 'Admin' && modalUserIsAdmin() && modalUserIsCurrentUser()
      "
      >{{ role.name }}</mat-checkbox
    >
  </div>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data.roles">
    Submit
  </button>
</mat-dialog-actions>
