<!-- <form
  #editArtistAboutForm="ngForm"
  id="editArtistAboutForm"
  (ngSubmit)="updateArtist()"
>
  <div>
    <mat-form-field>
      <mat-label>Artist Name</mat-label>
      <input
        matInput
        placeholder="Artist Name"
        [(ngModel)]="artist.name"
        name="name"
      />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    [disabled]="!editArtistAboutForm.dirty"
    form="editArtistAboutForm"
    class="btn btn-success btn-block"
    color="primary"
  >
    Save Changes
  </button>
</form> -->

<form [formGroup]="editArtistAboutForm" (ngSubmit)="updateArtist()">
  <div>
    <mat-form-field>
      <mat-label>Artist Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    [disabled]="!editArtistAboutForm.valid"
    color="primary"
  >
    Save Changes
  </button>
</form>

<br />
<br />
<br />
<br />
<div *ngIf="editArtistAboutForm.dirty">
  <strong>Information:</strong> You have made changes. Any unsaved changes will
  be lost!
</div>
