<!-- <mat-tab label="About {{ artist.name }}"> -->
<form
  #editArtistAboutForm="ngForm"
  id="editArtistAboutForm"
  (ngSubmit)="updateArtist()"
>
  <div>
    <mat-form-field>
      <mat-label>Artist Name</mat-label>
      <input
        matInput
        placeholder="Artist Name"
        [(ngModel)]="artist.name"
        name="name"
      />
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Artist Name</mat-label>
      <input matInput placeholder="Name" required value="{{ artist.name }}" />
      
        value="{{ artist.name }}"
    </mat-form-field> -->
  </div>
  <button
    mat-raised-button
    [disabled]="!editArtistAboutForm.dirty"
    form="editArtistAboutForm"
    class="btn btn-success btn-block"
    color="primary"
  >
    Save Changes
  </button>
</form>
<!-- </mat-tab> -->
