<form
  [formGroup]="editArtistAboutForm"
  (ngSubmit)="updateArtist()"
  class="myForm"
  (keydown.enter)="($event.target.id === 'submitButton')"
>
  <div>
    <mat-form-field class="artistNameSize">
      <mat-label>Artist Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
  </div>
  <div class="mt">
    <h1>Home</h1>
    <p>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="usHomeCountry"
        (change)="usRadioChange($event)"
      >
        <mat-radio-button #USHomeCountry [value]="true">US</mat-radio-button>
        <mat-radio-button [value]="false">Other</mat-radio-button>
      </mat-radio-group>
    </p>
  </div>
  <div *ngIf="USHomeCountry.checked">
    <mat-form-field>
      <mat-label>US State</mat-label>
      <mat-select
        #USHomeState
        formControlName="homeUsState"
        (selectionChange)="changeUSState()"
      >
        <mat-option *ngFor="let usState of usStates" [value]="usState.id">
          {{ usState.abbreviation + ' - ' + usState.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="City"
        [matAutocomplete]="autoCity"
        formControlName="homeUsCity"
        (keydown.enter)="enterNewCity(); trigger.closePanel()"
        #trigger="matAutocompleteTrigger"
      />
      <mat-autocomplete
        #autoCity="matAutocomplete"
        (optionSelected)="citySelected($event.option)"
      >
        <mat-option
          *ngFor="let city of filteredCities | async"
          [value]="city"
          (onSelectionChange)="loadZipCodesForCity($event.source.value)"
        >
          <span>{{ city }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />

    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="ZipCode"
        [matAutocomplete]="autoZipCode"
        formControlName="homeUsZipCode"
        (keydown.enter)="enterNewZipCode(); trigger2.closePanel()"
        #trigger2="matAutocompleteTrigger"
      />
      <mat-autocomplete
        #autoZipCode="matAutocomplete"
        (optionSelected)="zipCodeSelected($event.option)"
      >
        <mat-option
          *ngFor="let zipCode of filteredZipCodes | async"
          [value]="zipCode"
        >
          <span>{{ zipCode }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <br />
    <br />
    <button
      id="submitButton"
      mat-raised-button
      [disabled]="!editArtistAboutForm.valid"
      color="primary"
    >
      Save Changes
    </button>
  </div>
</form>

<br />
<br />
<br />
<br />

<!-- Commenting out while editing to make easier
<div *ngIf="editArtistAboutForm.dirty">
  <strong>Information:</strong> You have made changes. Any unsaved changes will
  be lost!
</div> -->
