<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
<h1>Artist Data</h1>  
  
<p>This component demonstrates fetching Artist data from the server.</p>  
  
<p *ngIf="!artistList"><em>Loading...</em></p>  
  
<p>  
  <a [routerLink]="['/register-artist']">Create New</a>  
</p>  
  
<table class='table' *ngIf="artistList">  
  <thead>  
  <tr>  
    <th>EmployeeId</th>  
    <th>Name</th>  
    <th>Gender</th>  
    <th>Department</th>  
    <th>City</th>  
  </tr>  
  </thead>  
  <tbody>  
    <tr *ngFor="let artist of artistList">
      <td>{{ artist.artistId }}</td>
      <td>{{ artist.artistName }}</td>
      <td>{{ artist.artistStatusId }}</td>
      <td>{{ artist.careerBeginDate }}</td>
      <td>{{ artist.createdDate }}</td>
      <td>
      <td>
        <a [routerLink]="['/artist/edit/', artist.artistId]">Edit</a> |
        <a [routerLink]="" (click)="delete(artist.artistId)">Delete</a>
      </td>
    </tr>  
  </tbody>  
</table>  

</body>
</html>
