<!-- <div class="row">
  <table class="table">
    <tr>
      <th style="width: 10%;">User ID</th>
      <th style="width: 30%;">Username</th>
      <th style="width: 40%;">Active Roles</th>
      <th style="width: 20%;"></th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.roles }}</td>
      <td>
        <button class="btn btn-info" (click)="editRolesModal(user)">
          Edit Roles
        </button>
      </td>
    </tr>
  </table>
</div> -->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
    <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
  </ng-container>

  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Active Roles</th>
    <td mat-cell *matCellDef="let user">{{ user.roles }}</td>
  </ng-container>

  <ng-container matColumnDef="editRoles">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user">
      <!-- <button mat-raised-button (click)="openDialog()">Edit</button> -->
      <button mat-raised-button (click)="editRolesModal(user)">Edit</button>
      <!-- <button mat-raised-button (click)="editRolesModal(user)">Edit</button> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
