<div fxLayout="row" fxLayoutAlign="space-between start">
  <h1>
    {{ artist.name }}
    <i *ngIf="artist.verified" class="fa fa-check colorCheckMark"></i>
  </h1>
  <div *ngIf="editArtistForm.dirty" class="alert alert-info">
    <strong>Information:</strong> You have made changes. Any unsaved changes
    will be lost!
  </div>
  <button
    class="add-button"
    mat-raised-button
    [routerLink]="['/artist', artist.id]"
  >
    Back
  </button>
</div>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px">
  <div
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
  >
    <app-artist-card
      [artist]="artist"
      [edit]="true"
      [editArtistForm]="editArtistForm"
    >
    </app-artist-card>
  </div>

  <div
    fxFlex
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
  >
    <mat-tab-group>
      <mat-tab label="About {{ artist.name }}">
        <form
          #editArtistForm="ngForm"
          id="editArtistForm"
          (ngSubmit)="updateArtist()"
        >
          <div>
            <mat-form-field>
              <mat-label>Artist Name</mat-label>
              <input
                matInput
                placeholder="Artist Name"
                [(ngModel)]="artist.name"
                name="name"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>United States Artist</mat-label>
              <mat-select [(ngModel)]="artist.usArtist" name="usArtist3">
                <mat-option *ngFor="let us of usArtist" [value]="us.value">
                  {{ us.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="usArtist">
            hi
            <!-- <mat-form-field>
              <mat-label>United States Artist</mat-label>
              <mat-select [(ngModel)]="artist.usArtist" name="usArtist">
                <mat-option *ngFor="let us of usArtist" [value]="us.value">
                  {{ us.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Work/Albums and more">
        Albums and more to go here
      </mat-tab>

      <mat-tab label="Photos">
        no photos yet
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
