<div class="container mt-4">
  <div>
    <h1>{{ artist.name }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ artist.photoUrl }}"
          alt="{{ artist.name }}"
        />
        <div class="card-body">
          <strong>Solo/Status:</strong>
          <p>{{ artist.solo }}, {{ artist.statusId }}</p>
        </div>
        <div class="card-body">
          <strong>Years Active:</strong>
          <p>{{ artist.yearsActive }}</p>
        </div>
        <div class="card-body">
          <strong>Verified:</strong>
          <p>{{ artist.verified }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary w-100">Follow/UnFollow</button>
          <button class="btn btn-success w-100">Message</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="artist-tabset  ">
          <tab heading="Edit Artist Details">
            <form>
              <h4>Description</h4>
              <textarea
                name="Introduction"
                rows="6"
                [(ngModel)]="artist.name"
              ></textarea>
              <h4>Looking For</h4>
              <textarea
                name="LookingFor"
                rows="6"
                [(ngModel)]="artist.yearsActive"
              ></textarea>
              <h4>Location Details:</h4>
              <div class="form inline">
                <label for="currentCity">Current City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  [(ngModel)]="artist.currentCity"
                />
                <label for="homeCity">Home City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  [(ngModel)]="artist.homeCity"
                />
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <p>TBD</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
