<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>
        {{ artist.name }}
        <strong>Verified: {{ artist.verified }}</strong>
      </h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have made changes. Any unsaved changes
        will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ artist.photoPath }}"
          alt="{{ artist.name }}"
        />
        <div class="card-body">
          <strong>Solo/Status:</strong>
          <p>{{ artist.solo }}, {{ artist.statusId }}</p>
        </div>
        <div class="card-body">
          <strong>Years Active:</strong>
          <p>{{ artist.yearsActive }}</p>
        </div>
      </div>
      <div class="card-footer">
        <button
          [disabled]="!editForm.dirty"
          form="editForm"
          class="btn btn-success btn-block"
        >
          Save Changes
        </button>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="artist-tabset">
          <tab heading="Edit Artist Details">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateArtist()">
              <h4>Artist Name</h4>
              <textarea
                name="name"
                rows="6"
                [(ngModel)]="artist.name"
              ></textarea>
              <h4>Years Active</h4>
              <textarea
                name="yearsActive"
                rows="6"
                [(ngModel)]="artist.yearsActive"
              ></textarea>
              <h4>Location Details:</h4>
              <div class="form inline">
                <label for="currentCity">Current City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  [(ngModel)]="artist.currentCity"
                />
                <label for="homeCity">Home City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  [(ngModel)]="artist.homeCity"
                />
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <p>TBD</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
