<div *ngIf="loggedIn()">
  <app-profile></app-profile>
</div>
<div *ngIf="!loggedIn()" class="centerText">
  <div *ngIf="!registerMode">
    <h1>Find Your Scene!</h1>
    <p>
      Come on in to view what's going on nearby... All you need to do is sign
      up!
    </p>
    <div class="buttonSpace">
      <button mat-raised-button color="accent" (click)="registerToggle()">
        Register
      </button>
    </div>
    <hr />
    <app-login></app-login>
  </div>

  <div *ngIf="registerMode">
    <div>
      <div>
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
