<div fxLayout="row" fxLayoutAlign="space-between start">
  <h1>
    {{ artist.name }}
    <i *ngIf="artist.verified" class="fa fa-check colorCheckMark"></i>
  </h1>
  <button
    class="add-button"
    mat-raised-button
    [routerLink]="['/artist/edit', artist.id]"
  >
    Edit Artist
  </button>
</div>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px">
  <div
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
  >
    <app-artist-card [artist]="artist" [edit]="false"> </app-artist-card>
  </div>

  <div
    fxFlex
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
  >
    <mat-tab-group>
      <mat-tab label="About {{ artist.name }}">
        Current City
        <p>{{ artist.currentCity || 'no data' }}</p>
        Home City
        <p>{{ artist.homeCity || 'no data' }}</p>
        Years Active - calculates based on artist begin date
        <p>{{ artist.yearsActive }}</p>
      </mat-tab>
      <mat-tab label="Work/Albums and more">
        Albums and more to go here
      </mat-tab>
      <mat-tab label="Photos">
        no photos yet
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
