<h1 mat-dialog-title>What's name of the artist to add?</h1>
<form [formGroup]="addArtistForm" (ngSubmit)="addArtist()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Artist Name</mat-label>
      <input matInput placeholder="Name" required formControlName="name" />
      <mat-error *ngIf="addArtistForm.controls.name.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="alignRight">
    <button mat-raised-button (click)="cancel()" type="button">Cancel</button>
    <button
      mat-raised-button
      [disabled]="!addArtistForm.valid"
      type="submit"
      color="primary"
      [mat-dialog-close]
    >
      Add
    </button>
  </div>
</form>
